<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>index_servlet</servlet-name>
        <servlet-class>com.action.index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>com.action.index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>news_servlet</servlet-name>
        <servlet-class>com.action.news_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManaNews</servlet-name>
        <servlet-class>com.action.ManaNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowNews</servlet-name>
        <servlet-class>com.action.ShowNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManaNotices</servlet-name>
        <servlet-class>com.action.ManaNotices</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowNotices</servlet-name>
        <servlet-class>com.action.ShowNotices</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelNotices</servlet-name>
        <servlet-class>com.action.DelNotices</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManaAct</servlet-name>
        <servlet-class>com.action.ManaAct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManaAdmin</servlet-name>
        <servlet-class>com.action.ManaAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNewsServlet</servlet-name>
        <servlet-class>com.servlet.jsonnews.GetNewsTitleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNewsContentServlet</servlet-name>
        <servlet-class>com.servlet.jsonnews.GetNewsContentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetActTicketServlet</servlet-name>
        <servlet-class>com.servlet.jsonact.GetActTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNoticeTitleServlet</servlet-name>
        <servlet-class>com.servlet.jsonnotice.GetNoticeTitleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNoticeContentServlet</servlet-name>
        <servlet-class>com.servlet.jsonnotice.GetNoticeContentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetIndexNewsServlet</servlet-name>
        <servlet-class>com.servlet.jsonnews.GetIndexNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOneNewsServlet</servlet-name>
        <servlet-class>com.servlet.jsonnews.GetOneNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinishServlet</servlet-name>
        <servlet-class>com.servlet.user.FinishServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>com.servlet.user.UserLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegeditServlet</servlet-name>
        <servlet-class>com.servlet.user.RegeditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckServlet</servlet-name>
        <servlet-class>com.servlet.user.CheckServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IsLoginServlet</servlet-name>
        <servlet-class>com.servlet.user.IsLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExitServlet</servlet-name>
        <servlet-class>com.servlet.user.ExitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OwnInfoServlet</servlet-name>
        <servlet-class>com.servlet.user.OwnInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllNewsServlet</servlet-name>
        <servlet-class>com.servlet.jsonnews.GetAllNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getNextNewsServlet</servlet-name>
        <servlet-class>com.servlet.jsonnews.getNextNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetInfoServlet</servlet-name>
        <servlet-class>com.servlet.jsonnotice.GetInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNextInfoServlet</servlet-name>
        <servlet-class>com.servlet.jsonnotice.GetNextInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddActTicketServlet</servlet-name>
        <servlet-class>com.servlet.jsonact.AddActTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOneActServlet</servlet-name>
        <servlet-class>com.servlet.jsonact.GetOneActServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetActTitleServlet</servlet-name>
        <servlet-class>com.servlet.jsonact.GetActTitleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllActServlet</servlet-name>
        <servlet-class>com.servlet.jsonact.GetAllActServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNextActServlet</servlet-name>
        <servlet-class>com.servlet.jsonact.GetNextActServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllTicketsServlet</servlet-name>
        <servlet-class>com.servlet.jsonact.GetAllTicketsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNextTicketServlet</servlet-name>
        <servlet-class>com.servlet.jsonact.GetNextTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOrderListServlet</servlet-name>
        <servlet-class>com.servlet.jsonact.GetOrderListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetHaveOrderServlet</servlet-name>
        <servlet-class>com.servlet.jsonact.GetHaveOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOrderServlet</servlet-name>
        <servlet-class>com.servlet.order.AddOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrderServlet</servlet-name>
        <servlet-class>com.servlet.order.CancelOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOneNoticeServlet</servlet-name>
        <servlet-class>com.servlet.jsonnotice.GetOneNoticeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllOrderListServlet</servlet-name>
        <servlet-class>com.servlet.order.GetAllOrderListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNextOrderServlet</servlet-name>
        <servlet-class>com.servlet.order.GetNextOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNewOrderServlet</servlet-name>
        <servlet-class>com.servlet.order.GetNewOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOneOrderContentServlet</servlet-name>
        <servlet-class>com.servlet.order.GetOneOrderContentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteActTicketServlet</servlet-name>
        <servlet-class>com.servlet.jsonact.DeleteActTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InterActServlet</servlet-name>
        <servlet-class>com.servlet.jsonact.InterActServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetActVoteOptionServlet</servlet-name>
        <servlet-class>com.servlet.jsonact.GetActVoteOptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoteServlet</servlet-name>
        <servlet-class>com.servlet.jsonact.VoteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadPhotoServlet</servlet-name>
        <servlet-class>com.servlet.user.UploadPhotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddActVote</servlet-name>
        <servlet-class>com.action.AddActVote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddActOption</servlet-name>
        <servlet-class>com.action.AddActOption</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActTicket</servlet-name>
        <servlet-class>com.action.ActTicket</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>index_servlet</servlet-name>
        <url-pattern>/index_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>news_servlet</servlet-name>
        <url-pattern>/news_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManaNews</servlet-name>
        <url-pattern>/ManaNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowNews</servlet-name>
        <url-pattern>/ShowNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManaNotices</servlet-name>
        <url-pattern>/ManaNotices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowNotices</servlet-name>
        <url-pattern>/ShowNotices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelNotices</servlet-name>
        <url-pattern>/DelNotices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManaAct</servlet-name>
        <url-pattern>/ManaAct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManaAdmin</servlet-name>
        <url-pattern>/ManaAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNewsServlet</servlet-name>
        <url-pattern>/GetNewsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNewsContentServlet</servlet-name>
        <url-pattern>/GetNewsContentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetActTicketServlet</servlet-name>
        <url-pattern>/GetActTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNoticeTitleServlet</servlet-name>
        <url-pattern>/GetNoticeTitleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNoticeContentServlet</servlet-name>
        <url-pattern>/GetNoticeContentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetIndexNewsServlet</servlet-name>
        <url-pattern>/GetIndexNewsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOneNewsServlet</servlet-name>
        <url-pattern>/GetOneNewsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinishServlet</servlet-name>
        <url-pattern>/FinishServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/UserLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegeditServlet</servlet-name>
        <url-pattern>/RegeditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckServlet</servlet-name>
        <url-pattern>/CheckServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IsLoginServlet</servlet-name>
        <url-pattern>/IsLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExitServlet</servlet-name>
        <url-pattern>/ExitServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OwnInfoServlet</servlet-name>
        <url-pattern>/OwnInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllNewsServlet</servlet-name>
        <url-pattern>/GetAllNewsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getNextNewsServlet</servlet-name>
        <url-pattern>/getNextNewsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetInfoServlet</servlet-name>
        <url-pattern>/GetInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNextInfoServlet</servlet-name>
        <url-pattern>/GetNextInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddActTicketServlet</servlet-name>
        <url-pattern>/AddActTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOneActServlet</servlet-name>
        <url-pattern>/GetOneActServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetActTitleServlet</servlet-name>
        <url-pattern>/GetActTitleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllActServlet</servlet-name>
        <url-pattern>/GetAllActServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNextActServlet</servlet-name>
        <url-pattern>/GetNextActServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllTicketsServlet</servlet-name>
        <url-pattern>/GetAllTicketsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNextTicketServlet</servlet-name>
        <url-pattern>/GetNextTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOrderListServlet</servlet-name>
        <url-pattern>/GetOrderListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetHaveOrderServlet</servlet-name>
        <url-pattern>/GetHaveOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOrderServlet</servlet-name>
        <url-pattern>/AddOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrderServlet</servlet-name>
        <url-pattern>/CancelOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOneNoticeServlet</servlet-name>
        <url-pattern>/GetOneNoticeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllOrderListServlet</servlet-name>
        <url-pattern>/GetAllOrderListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNextOrderServlet</servlet-name>
        <url-pattern>/GetNextOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNewOrderServlet</servlet-name>
        <url-pattern>/GetNewOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOneOrderContentServlet</servlet-name>
        <url-pattern>/GetOneOrderContentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteActTicketServlet</servlet-name>
        <url-pattern>/DeleteActTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InterActServlet</servlet-name>
        <url-pattern>/InterActServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetActVoteOptionServlet</servlet-name>
        <url-pattern>/GetActVoteOptionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoteServlet</servlet-name>
        <url-pattern>/VoteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadPhotoServlet</servlet-name>
        <url-pattern>/UploadPhotoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddActVote</servlet-name>
        <url-pattern>/AddActVote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddActOption</servlet-name>
        <url-pattern>/AddActOption</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActTicket</servlet-name>
        <url-pattern>/ActTicket</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>/qiantai/default.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>admin</servlet-name>
        <servlet-class>com.action.admin_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.servlet.login.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>user</servlet-name>
        <servlet-class>com.action.user_servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>user</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>gonggao</servlet-name>
        <servlet-class>com.action.gonggao_servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>gonggao</servlet-name>
        <url-pattern>/gonggao</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>liuyan</servlet-name>
        <servlet-class>com.action.liuyan_servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>liuyan</servlet-name>
        <url-pattern>/liuyan</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>news</servlet-name>
        <servlet-class>com.action.news_servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>news</servlet-name>
        <url-pattern>/news</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>catelog</servlet-name>
        <servlet-class>com.action.catelog_servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>catelog</servlet-name>
        <url-pattern>/catelog</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>dwr-invoker</servlet-name>
        <servlet-class>
			org.directwebremoting.servlet.DwrServlet
		</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>activeReverseAjaxEnabled</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>
				initApplicationScopeCreatorsAtStartup
			</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>maxWaitAfterWrite</param-name>
            <param-value>500</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dwr-invoker</servlet-name>
        <url-pattern>/dwr/*</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>SetChartEncoding</filter-name>
        <filter-class>com.util.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SetChartEncoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
